<!doctype html>
<html>
    <head>
        <title>Todo List</title>
    </head>

    <body>
        <div id='todo-app'>
            <h1>Todo App</h1>
            <input type="text" placeholder="new todo item" v-model="todo"/><button @click="add_new_todoitem">Add</button>
            <ul>
                <li v-for='(item, index) in items'>{{item.title}}<button @click="remove(index)">X</button></li>
            </ul>
        </div>

        <script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript">
            var app = new Vue({
                    el:'#todo-app',
                    data:{
                        items: [],
                        todo:''
                    },

                    created: function () {
                        var that = this;//dont make confusion when calling 'this' in other fuction.
                        axios.get('http://localhost:5000/todoitem/1')
                            .then(function (response) {
                                that.items = (response.data.todoitem);
                            })
                            .catch(function (error) {
                                alert(error);
                            });
                    },
                    methods:{
                        remove:function(i){
                            this.items.splice(i, 1)
                        },

                        add_new_todoitem:function(){
                            if(this.todo){
                                axios.post('http://localhost:5000/todoitem',{
                                    title:this.todo,
                                    comment:'',
                                    groupid:1,
                                    status:0
                                })
                                .then(function(response){
                                    this.items.push({
                                        id:-1,
                                        title:this.todo,
                                        comment:'',
                                        groupid:1,
                                        'status':0
                                    });
                                    this.todo = ''
                                    //console.log(response);
                                })
                                .catch(function(error){
                                    console.log(error);
                                });
                            }
                        }
                    }
                });

        </script>
    </body>    
</html>